<a href="https://colab.research.google.com/github/Dapi45/uts_machine_learning_20200120030/blob/main/Daffi_Fadillah_20200120030_UTS_2_ML_TI_IS_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

dset = pd.read_csv('/content/drive/MyDrive/Datasets/UTS/dataset_uts-2021.csv')
dset

,No,Name,Address,Mobile Phone,Project,Email
0,1,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,2,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
2,3,Luna Knox,PO.BOX 12-Loren Park,NaN,NaN,luna@text.com
3,4,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,5,Riley Drew,PO.BOX 16-Thames Street,789821211.0,intenal,riley@text.com
5,6,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,7,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
7,8,XYS,Street 12 New Way,0.0,NaN,NaN
8,9,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [12]:
dset.drop('No',inplace=True,axis=1)

In [13]:
dset = dset.dropna()
dset

,Name,Address,Mobile Phone,Project,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211.0,intenal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [14]:
dset = dset.replace('intenal', 'Internal')
dset

,Name,Address,Mobile Phone,Project,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [15]:
dset.dtypes

Name             object
Address          object
Mobile Phone    float64
Project          object
Email            object
dtype: object

In [16]:
dset[['Mobile Phone']] = dset[['Mobile Phone']].astype('object')
dset.dtypes

Name            object
Address         object
Mobile Phone    object
Project         object
Email           object
dtype: object

In [17]:
dset.rename(columns = {"Name": "Nama", "Address": "Alamat", "Mobile Phone": "Nomor Telepon", "Project": "Projek"}, inplace=True)
dset

,Nama,Alamat,Nomor Telepon,Projek,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
3,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
4,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
5,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
8,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [18]:
dset.to_csv('/content/drive/MyDrive/Datasets/UTS/clean_data_uts.csv', index=False)
datas=pd.read_csv('/content/drive/MyDrive/Datasets/UTS/clean_data_uts.csv')
datas

,Nama,Alamat,Nomor Telepon,Projek,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
2,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
3,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
4,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
5,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
6,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [19]:
ds = datas.drop(5, axis=0)
ds

,Nama,Alamat,Nomor Telepon,Projek,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
2,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
3,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
4,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
6,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com

In [20]:
ds.to_csv('/content/drive/MyDrive/Datasets/UTS/clean_data_uts2.csv', index=False)
daset=pd.read_csv('/content/drive/MyDrive/Datasets/UTS/clean_data_uts2.csv')
daset

,Nama,Alamat,Nomor Telepon,Projek,Email
0,Princy Odom,Street 1 New Lane,789456120.0,Client,princy@text.com
1,Appy Alexa,Ac Street,568798821.0,Client,appy@text.com
2,Clark Andrews,PO.BOX 156-Settle Road,123545342.0,Client,clark@text.com
3,Riley Drew,PO.BOX 16-Thames Street,789821211.0,Internal,riley@text.com
4,August Bork,PO.BOX 17-Thames Street,125921931.0,Internal,aug@text.com
5,Erica Flint,Street 7 New Lane Road,789456128.0,Internal,erica@text.com